*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Arial Narrow", sans-serif;
    background-color: #EEE;
    height: 100%;
    box-sizing: border-box;
}

.container, .containerIndex {
    width: 50%;
    height: calc(100% - 200px);
    overflow: auto;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px gray;
}

.containerIndex {
    width: 70%;
    padding: 5px;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 10px;
    font-family: "Calibri", sans-serif;
    font-weight: bold;
}

.errors {
    margin-left: 50px;
    color: red;
}

.error {
    color: red;
}

button {
    color: white;
    background-color: yellowgreen;
    border-radius: 5px;
    border: 1px solid green;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #659816;
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    background-color: black;
    height: 100px;
}